

*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    color: #ffffffe3;
    text-shadow: 2px 1px black;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, rgba(2,0,36,1) 16%, rgba(9,9,121,1) 58%, rgb(255,0,198,1) 99%);
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 95%;
    height: 70px;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav__logo{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.nav__menu{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__menu li a{
    text-decoration: none;
    font-weight: bold;
}

.hero{
    width: 90%;
    height: 80vh;
    display: flex;
    position: relative;
    margin: 5% 0% 0% 5%;
}

.hero__h2{
    width: 80%;
    height: 33.3%;
    padding-top: 5%;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero__p{
    width: 80%;
    height: 20%;
    font-size: 25px;
    font-weight: 400;
}

.hero__div__button{
    width: 50%;
    display: flex;
}

.hero__button1{
    width: 35%;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(240, 248, 255, 0);
    border-color: #ffffff7a;
}

.hero__button2{
    width: 35%;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(240, 248, 255, 0);
    border-color: #ffffff7a;
    margin-left: 10px;
}

.hero__img{
    width: 500px;
    height: 500px;
    animation: arribaAbajo 8s linear infinite;
}

@keyframes arribaAbajo {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-50px);
    }
}

.informacion{
    width: 80%;
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;    
    font-size: 30px;
    font-style: italic;
    margin-left: 10%;
    margin-bottom: 100px;
    box-shadow: 10px 10px 100px 10px black;
    border-radius: 50px;
}